$color_orange: rgb(255, 180, 45);
$color_orange_light: rgb(255, 200, 155);

.main {
    background-color: whitesmoke;
}

.article {
    background-color: whitesmoke;
    display: flex;
    //  flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    & .back-link {
        display: block;
        width: 70%;
        background-color: seashell;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-top: 20px;
        margin-bottom: 20px;;

        & a {
            padding-left: 50px;
            text-decoration: none;
            color: rgb(216, 122, 0);
        }
    }
}

.photo-container, 
.desciption,
.behaviour,
.price {
    display: block;
    width: 70%;
}

.price {
    background-color: lightgray;
    color: green;
}

.price p {
    font-weight: bold;
}

.amount-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.amount {
    display: block;
    margin: 5px;
}

.plus, 
.minus {
    border: none;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 15vw;
    height: 5vh;
}

.plus {
    background-color: greenyellow;
}

.minus {
    background-color: red;
}
