$color_orange: rgb(255, 180, 45);
$color_orange_light: rgb(255, 200, 155);

.main {
    background-color: whitesmoke;
    justify-content: center;
}

.header a{
    text-decoration: none;
    color: black;
}

.wrapper {
    padding: 10px;
    margin: 10px;
    border: 2px solid;
    display: block;
    width: 80%;
}

.wrapper__menu-ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.wrapper__menu-ul li a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: grey;
}

.wrapper__menu-ul li a:hover{
    background-color: $color_orange;
}
